<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841763424316-47t5sbp48vh3v44pu3uf7rgfpk2f9od8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841763424316-47t5sbp48vh3v44pu3uf7rgfpk2f9od8</string>
	<key>API_KEY</key>
	<string>AIzaSyChLub4Q65sFyLGFiU0LAm4H0CWh_p-rZA</string>
	<key>GCM_SENDER_ID</key>
	<string>841763424316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jochoa.gaviria.FirebaseExample</string>
	<key>PROJECT_ID</key>
	<string>walletgelt</string>
	<key>STORAGE_BUCKET</key>
	<string>walletgelt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841763424316:ios:4111b57351b1d1f156db39</string>
</dict>
</plist>